* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
   
body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
align-self: center;
margin: 0 10px;
}  

h1 {
font-family: 'Rock Salt', cursive; 
font-weight: 400;
}

main {
  margin: 0 auto;
}

.menu{
  background-color: #380453;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  padding: 5px;
  margin: 15px 0;
}

.banner {
  background-color: black;
  background-image: url('/images/sunset-wallpaper.jpeg');
  background-position: center;
  background-size: cover;
  margin: 0 10px;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: rgb(25, 0, 74);
}

section:nth-child(even) {
  background-color: #380453;
}

.about, .portfolio, .contact {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 2px;
}

h2, .avatar, .portfolio-screenshot {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

h2, h3, h4 {
  font-weight: 400;
}

h3, h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.avatar {
  width: 30%;
  margin: 0 auto;
}

.portfolio-screenshot {
  width: 40%;
} 

.github-link, .contact-link, .live-page-link {
color: #FF0D96;
font-weight: 400;
}

.home-link {
  color: white;
}

img {
  display: inline;
  margin: 10px auto;
}

footer {
  background-color: #380453;
  width: 100%;
  padding: 10px;
}

.footer-links {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  width: auto;
  padding: 0;
  font-size: 1rem;
}

@media screen and (min-width: 750px) {

.screenshot-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.portfolio-screenshot {
  width: 40%;
} 

body {
  font-size: 2rem;
}

.footer-links {
  font-size: 2rem;
}

}